<!doctype html>
<html lang="en-us">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
        </script>
        <script src="/js/list.js"></script>
        <link rel="stylesheet" href="/css/list.css">
    </head>
    <body>
        <main ng-app="hrListApp">
            <div ng-controller="HRListController">
               <ul>
                    <li ng-repeat="item in itemList">
                        <span ng-class="((($index+1)%3) === 0) ? 'red' : 'black'" class="{{item.css}}">{{item.name}}</span>
                    </li>
                </ul>
                <form ng-submit="addListItem()">
                    <input type="text" ng-model="newItem" required />
                    <p>
                        <span ng-show="!newItem.length">Please enter a value above</span>
                    </p>
                    <input type="submit" />
                </form>
            </div>
        </main>
    </body>
</html>
